html, body,
button, input, optgroup, select, textarea {
    font-family: Frutiger, system-ui, Roboto, sans;
    color: #333333;
    font-size: 16px;
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    width: 100%;
    height: 60px;
    background-color: #F4F4F4;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    box-sizing: border-box;
    padding: 0 5px 0 30px; /* Added left padding for the icon */
    outline: none; /* Remove default blue/orange outline */
    font-size: 16px;
    color: #333;
}

.search-input:focus {
    border-bottom: 1px solid rgb(198, 40, 40);
    outline: none;
}

.input-container {
  position: relative;
  width: 100%; 
  margin-right: 20px;
}
.magnifier-icon {
  position: absolute;
  top: 0;
  left: 5px; /* Position inside the field, before the text */
  height: 60px; /* Match input height */
  display: flex;
  align-items: center; /* Vertically center the icon */
  color: #666; /* Icon color */
  font-size: 16px; /* Icon size */
  pointer-events: none; /* Crucial to allow clicks to pass through */
  z-index: 1; /* Ensure icon is above input, if needed */
}

.clear-icon {
  position: absolute;
  top: 0;
  right: 5px; /* Position inside the field, after the text */
  height: 60px; /* Match input height */
  display: flex;
  align-items: center; /* Vertically center the icon */
  color: #666; /* Icon color */
  font-size: 16px; /* Icon size */
  cursor: pointer; /* Change cursor to pointer on hover */
  z-index: 1; /* Ensure icon is above input */
}

.repo-details {
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}

.repo-summary {
    display: list-item;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    table-layout: auto;
}

table th {
  letter-spacing: .1em;
}

tr {
	height: 56px;
}

th, td {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;
    vertical-align: top;
    text-align: left;
    background-color: white;
}

thead tr th {
  border-top: 0px solid white;
}

tr:hover td {background:#eeeeee;}

.red-link {
    overflow: hidden;
    color: rgb(198, 40, 40);  
}

a.red-link:hover {
    color: rgb(198, 40, 40);
    text-decoration: underline;
}  

a.red-link:visited {
    color: rgb(198, 40, 40); 
}

a:link {
    color: #333333;
    text-decoration: underline !important;
} 

a:hover {
    color: rgb(198, 40, 40) !important;
    text-decoration: underline !important;
}  

a:active {
    color: rgb(198, 40, 40); 
    text-decoration: underline !important;
} 

a:visited {
    color: #333333; 
    /*text-decoration: underline !important;*/
}

.black-link {
    overflow: hidden;
    color: #333333; 
}

a.black-link:hover {
    color: #333333;
}  

a.black-link:visited {
    color: #333333; 
}  

.textedit-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.textedit-label {
  font-size: 0.75rem;
  color: #555;
  margin-bottom: 0.3rem;
}

.textedit-display {
  border-radius: 4px;
  background-color: #F4F4F4;
  /*background-color: #eaeaea;*/
  padding: 1.0rem 0.75rem;
  /*min-height: 3rem;*/
  font-size: 1rem;
  color: #333;
  cursor: default;
}

.textedit-display-area {
    min-height: 100px;
}

.textedit-display-line {
    min-height: 20px;
}

.textedit-display-badge {
	min-height: 30px;
}

/*
.textedit-display a {
  color: #0077cc;
  text-decoration: underline;
}
*/

.badge {
  display: inline-block;
  padding: 0.3em 0.8em;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(198, 40, 40);
  border: 1.5px solid rgb(198, 40, 40);
  border-radius: 12px;
  background: transparent;
  user-select: none;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

mapml-viewer {
    width: 100%;
}